{% extends "admin/base.html.twig" %}
{% block title %}
    Modification du Commentaire nº {{comment.id}}
{% endblock title %}
{% block body %}
    <div class="container my-5">
        <h1> Modification du Commentaire nº{{comment.id}}</h1>
        <div class="alert alert-info">
            <strong>Annonce liee : </strong>{{comment.ad.title}} <br>
            <strong>Auteur : </strong>{{comment.author.fullName}} <br>
            <strong>Date de creation : </strong>{{comment.createdAt|date("d/m/Y H:i")}} <br>
            <strong>Note donnee : </strong>{{comment.rating}} 

        </div>
        {{form_start(form)}}
        {{form_widget(form)}}
        <button type="submit"class="btn btn-primary">
            <i class="fas fa-check"></i>
            Enregistrer les modifications 
        </button>
        {{form_end(form)}}
        
    </div>
{% endblock body %}